.grid-pane
{
	-fx-hgap: 20px;
	-fx-vgap: 5px;
}

.text-field
{
	-fx-background-color: white;
	-fx-border-radius: 3;
	-fx-border-color: silver;
	-fx-pref-width: 200px;
}

.context-menu
{
	visibility: hidden;
}